In [31]:
import pandas as pd
from Funcoes_auxiliares.func_aux import *

In [16]:
df_2022 = pd.read_csv('SIM_DOFET\\SIM_DOFET_2022_sujo.csv', sep=';')

<ipython-input-16-cfc66b2732eb>:2: DtypeWarning: Columns (25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dofet_limpa = pd.read_csv('base_limpa\\base_unificada_limpa.csv')

In [20]:
df_dofet_suja = pd.read_csv('base_suja\\base_sim_dofet_suja.csv')

In [10]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27394 entries, 0 to 27393
Data columns (total 99 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  27394 non-null  int64
 1   ORIGEM      27394 non-null  int64
 2   CODMUNCART  0 non-null      float64
 3   NUMREGCART  0 non-null      float64
 4   CODCART     0 non-null      float64
 5   DTREGCART   0 non-null      float64
 6   TIPOBITO    27394 non-null  int64
 7   DTOBITO     27394 non-null  int64
 8   HORAOBITO   25810 non-null  float64
 9   NATURAL     24131 non-null  float64
 10  CODMUNNATU  23868 non-null  float64
 11  DTNASC      0 non-null      float64
 12  IDADE       0 non-null      float64
 13  SEXO        27394 non-null  int64
 14  RACACOR     0 non-null      float64
 15  ESTCIV      4 non-null      float64
 16  ESC         0 non-null      float64
 17  ESC2010     0 non-null      float64
 18  SERIESCFAL  0 non-null      float64
 19  OCUP        0 non-null      float64
 20  CODMUNRES   27394 non-null  int64
 21  LOCOCOR     27394 non-null  int64
 22  CODESTAB    25868 non-null  float64
 23  ESTABDESCR  0 non-null      float64
 24  CODMUNOCOR  27394 non-null  int64
 25  IDADEMAE    25792 non-null  float64
 26  ESCMAE      25276 non-null  float64
 27  ESCMAE2010  25157 non-null  float64
 28  SERIESCMAE  9536 non-null   float64
 29  OCUPMAE     22554 non-null  float64
 30  QTDFILVIVO  25903 non-null  float64
 31  QTDFILMORT  25367 non-null  float64
 32  GRAVIDEZ    26808 non-null  float64
 33  SEMAGESTAC  26040 non-null  float64
 34  GESTACAO    26040 non-null  float64
 35  PARTO       26768 non-null  float64
 36  OBITOPARTO  26646 non-null  float64
 37  PESO        25931 non-null  float64
 38  TPMORTEOCO  1 non-null      float64
 39  OBITOGRAV   1 non-null      float64
 40  OBITOPUERP  1 non-null      float64
 41  ASSISTMED   16998 non-null  float64
 42  EXAME       52 non-null     float64
 43  CIRURGIA    48 non-null     float64
 44  NECROPSIA   18372 non-null  float64
 45  LINHAA      26225 non-null  object
 46  LINHAB      12154 non-null  object
 47  LINHAC      4583 non-null   object
 48  LINHAD      1659 non-null   object
 49  LINHAII     4065 non-null   object
 50  CAUSABAS    27394 non-null  object
 51  CB_PRE      0 non-null      float64
 52  MEDICO      0 non-null      float64
 53  COMUNSVOIM  3911 non-null   float64
 54  DTATESTADO  27351 non-null  float64
 55  CIRCOBITO   4 non-null      float64
 56  ACIDTRAB    1 non-null      float64
 57  FONTE       1 non-null      float64
 58  NUMEROLOTE  27377 non-null  float64
 59  TPPOS       20499 non-null  object
 60  DTINVESTIG  13174 non-null  float64
 61  LINHAA_O    0 non-null      float64
 62  LINHAB_O    0 non-null      float64
 63  LINHAC_O    0 non-null      float64
 64  LINHAD_O    0 non-null      float64
 65  LINHAII_O   0 non-null      float64
 66  CAUSABAS_O  27370 non-null  object
 67  DTCADASTRO  27387 non-null  float64
 68  ATESTANTE   25150 non-null  float64
 69  STCODIFICA  27392 non-null  object
 70  CODIFICADO  27394 non-null  object
 71  VERSAOSIST  27394 non-null  object
 72  VERSAOSCB   26354 non-null  float64
 73  FONTEINV    13229 non-null  float64
 74  DTRECEBIM   27365 non-null  float64
 75  ATESTADO    27386 non-null  object
 76  DTRECORIG   0 non-null      float64
 77  DTRECORIGA  27394 non-null  int64
 78  CAUSAMAT    0 non-null      float64
 79  ESCMAEAGR1  25157 non-null  float64
 80  ESCFALAGR1  0 non-null      float64
 81  STDOEPIDEM  27394 non-null  int64
 82  STDONOVA    27394 non-null  int64
 83  DIFDATA     27394 non-null  int64
 84  NUDIASOBCO  9 non-null      float64
 85  NUDIASOBIN  0 non-null      float64
 86  DTCADINV    0 non-null      float64
 87  TPOBITOCOR  0 non-null      float64
 88  DTCONINV    0 non-null      float64
 89  FONTES      22054 non-null  object
 90  TPRESGINFO  4 non-null      float64
 91  TPNIVELINV  9 non-null      object
 92  NUDIASINF   0 non-null      float64
 93  DTCADINF    22054 non-null  float64
 94  MORTEPARTO  22054 non-null  float64
 95  DTCONCASO   20589 non-null  float64
 96  FONTESINF   0 non-null      float64
 97  ALTCAUSA    21776 non-null  float64
 98  CONTADOR    27394 non-null  int64
dtypes: float64(72), int64(13), object(14)
memory usage: 20.7+ MB

In [21]:
for i in df_dofet_suja.columns:
    print(i)

data_obito
ano_obito
TIPOBITO
ocor_MUNNOMEX
res_MUNNOMEX
ocor_CAPITAL
res_CAPITAL
ocor_REGIAO
res_REGIAO
ocor_SIGLA_UF
res_SIGLA_UF
IDADEMAE
idademae_faixa
ESCMAE2010
escolaridade_mae
OBITOGRAV
GRAVIDEZ
tipo_gravidez
SEMAGESTAC
idade_gestacao_faixa
SEXO
def_sexo
PESO
peso_faixa
OBITOPARTO
def_obito_parto
CAUSABAS
causabas_capitulo
causabas_categoria
causabas_grupo
causabas_subcategoria
FLAG_BASE

In [25]:
df_2022 = df_2022[
    [
        'TIPOBITO'
        , 'IDADEMAE'
        , 'ESCMAE2010'
        , 'OBITOGRAV'
        , 'GRAVIDEZ'
        , 'SEMAGESTAC'
        , 'SEXO'
        , 'PESO'
        , 'OBITOPARTO'
        , 'CAUSABAS'
    ]
]

# Tratamentos

In [28]:
# pd.unique(df_2022['TIPOBITO']) # Somente 1 que representa obitos fetais
# df_2022['TIPOBITO'].isnull().sum() # Sem NA's
# Variável TIPOBITO - OK

0

In [32]:
#pd.unique(df_2022['IDADEMAE'])
#df_2022['IDADEMAE'].isnull().sum() # 1602 nulls
df_2022['idademae_faixa'] = [func_categorize_idademae(i) for i in df_2022['IDADEMAE']]
# Null = Ignorado

,TIPOBITO,IDADEMAE,ESCMAE2010,OBITOGRAV,GRAVIDEZ,SEMAGESTAC,SEXO,PESO,OBITOPARTO,CAUSABAS,idademae_faixa
12,1,NaN,NaN,NaN,1.0,37.0,1,2010.0,1.0,P029,Ignorado
42,1,NaN,9.0,NaN,1.0,32.0,2,1144.0,1.0,P000,Ignorado
48,1,NaN,NaN,NaN,1.0,36.0,1,3295.0,1.0,P000,Ignorado
49,1,NaN,NaN,NaN,1.0,22.0,2,374.0,1.0,Q969,Ignorado
63,1,NaN,9.0,NaN,1.0,21.0,2,405.0,2.0,P072,Ignorado
...,...,...,...,...,...,...,...,...,...,...,...
27343,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,P968,Ignorado
27367,1,NaN,NaN,NaN,1.0,NaN,1,604.0,1.0,P000,Ignorado
27368,1,NaN,1.0,NaN,1.0,37.0,2,3160.0,1.0,P200,Ignorado
27381,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,P000,Ignorado
27388,1,NaN,NaN,NaN,NaN,37.0,1,NaN,NaN,P031,Ignorado

In [ ]:
df_sim_dofet['FLAG_BASE'] = 'SIM_DOFET'
df_sim_dofet['idademae_faixa'] = [func_categorize_idademae(i) for i in df_sim_dofet['IDADEMAE']]
df_sim_dofet['escolaridade_mae'] = [func_categorize_escolmae(i) for i in df_sim_dofet['ESCMAE2010']]
df_sim_dofet['tipo_gravidez'] = [func_categorize_gravidez(i) for i in df_sim_dofet['GRAVIDEZ']]
df_sim_dofet['idade_gestacao_faixa'] = [func_categorize_idade_gest(i) for i in df_sim_dofet['SEMAGESTAC']]
df_sim_dofet['peso_faixa'] = [func_categorize_peso(i) for i in df_sim_dofet['PESO']]